<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Browse"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <!--<Label class="page-icon fa" text="&#xf1ea;"></Label>-->
    <!-- LABEL
     We add the class in class and then, in text, we add "&#x" + the icon code (&#xf013).
-->
    <Label class="fa" style="font-size: 50em; color: blue" text="&#xf2b9;"></Label>
    <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>
    <!--<Button text="Tell me how you feel!"></Button>-->
</GridLayout>
