.card {
  //border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #3a9ad5;
  border-width: 1;
  border-color: rgba(34, 36, 38, .1);
  border-radius: 20;
  //background-image:linear-gradient(to bottom, orangered, green, lightblue);

}

.v-text {
  font-weight: 300;
  //font-family: lato;
  font-size: 22px;
  line-height: 35px;
  color: #F96D52;
}
