<ActionBar class="action-bar">
    <NavigationButton (tap)="goBack()" android.systemIcon="ic_menu_back"></NavigationButton>
    <Label class="action-bar-title" [text]="issueTitle"></Label>
</ActionBar>

<StackLayout width="auto" height="auto">

    <StackLayout *ngIf="displayVerses === false">
        <ActivityIndicator row="1" #activityIndicator [busy]="loadedVerses.length === 0"
                           (busyChange)="onBusyChanged($event)" width="100" height="100"
                           class="activity-indicator"></ActivityIndicator>
    </StackLayout>

    <!--details-->
    <StackLayout *ngIf="displayVerses === true">
        <StackLayout orientation="horizontal" width="auto" height="100" backgroundColor="pink">
            <Label text="Issue Ttile" width="300" height="50" backgroundColor="red"></Label>
            <Button textWrap="true" class="text-center text-capitalize btn btn-primary  btn-rounded-lg"
                    *ngIf="loadedVerses.length > 0" [text]="verseData.verses.length + ' Verse (s)'"></Button>
        </StackLayout>

        <!--a card the element that will be reused/repeated-->
        <ListView [items]="loadedVerses" class="list-group">
            <ng-template let-object="item">
                <StackLayout orientation="vertical" width="auto" height="auto" backgroundColor="lightgray">
                    <Label [text]="object.verseDetails" width="350" height="30" backgroundColor="brown"></Label>
                    <StackLayout width="auto" height="auto" *ngFor="let verse of object.verseApiData">
                        <StackLayout width="auto" height="auto" backgroundColor="lightpink">
                            <Label [text]="verse.verse"></Label>
                            <HtmlView [html]="verse.text"></HtmlView>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>

</StackLayout>



