// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
   font-family: "FontAwesome";
}
// Common page class
.page-content {
    .page-placeholder {
        color: $page-icon-color;
        font-size: $page-content-placeholder-font-size;
        vertical-align: center;
        horizontal-align: center;
    }

    .page-icon {
        font-size: 72;
        vertical-align: top;
        horizontal-align: center;
        color: $page-icon-color;
        margin-top: 20%;
    }
}

//HtmlView{
//    background-color: white;
//    //box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//    transition: 0.3s;
//    color: whitesmoke;
//    //border-radius: 9%;
//    //padding: 8;
//    text-align: center;
//    vertical-align: middle;
//    width: 60%;
//    border:none;
//    border-radius: .28571429rem;
//    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
//}

//Action bar
ActionBar .action-bar-title {
    horizontal-align: center;
}
