<!--<ActionBar class="action-bar">-->
    <!--<Label class="action-bar-title" text="Home"></Label>-->
<!--</ActionBar>-->

<!--<GridLayout class="page page-content">-->
    <!--<ListView [items]="filteredVerses" class="list-group">-->
        <!--<ng-template let-item="item">-->
            <!--<Label [nsRouterLink]="['../item', item.verseID]" [text]="item.issue" class="list-group-item"></Label>-->
        <!--</ng-template>-->
    <!--</ListView>-->
<!--</GridLayout>-->
<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <ListView [items]="filteredVerses" class="list-group">
        <ng-template let-issue="item">
            <Button (tap)="displayVerse(issue.verseID,issue.issue)" [text]="issue.issue"></Button>
        </ng-template>
    </ListView>
</GridLayout>
